body {
    margin: 60px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 4em;
    background-color: #f8f8f9;
    color: rgb(19, 17, 17);
}

.page-container {
    margin: 5rem auto;
}

.green {
    color: #32d4a4;
}

table#alumnos {
    width: 100%;
    border: 1px solid #e6e6ea;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #fff;
}

table#alumnos th,
table#alumnos td {
    text-align: center;
    padding: 10px;
}

table#alumnos th {
    font-weight: bold;
}

table#alumnos tr td:first-child {
    font-weight: bold;
}

table#alumnos tr:hover {
    cursor: pointer;
}

caption,
td,
th {
    padding: 0.3em;
}

table thead tr th {
    border-bottom: 1px solid #e6e6ea;
}

table thead tr th:not(:first-child) {
    border-left: 0;
}

table thead tr th:not(:last-child) {
    border-right: 0;
}

table thead tr th {
    border-bottom: 1px solid #e6e6ea;
}

table tbody tr td:not(:first-child) {
    border-left: 0;
}

table tbody tr td:not(:last-child) {
    border-right: 0;
}

table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #e6e6ea;
}

h2 label input {
    height: 40px;
    width: 200px;
    border-radius: 6px;
    border: 1px solid #e6e6ea;
    background-color: #e6e6ea;
    margin-left: 15px;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: left;
}

#filters-panel {
    padding: 15px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #f8f8f9;
}

#filters-panel .dropdown-toggle {
    border-radius: 10px;
}

#filters-panel form > div > label {
    font-weight: bold;
}

#filters-panel select {
    width: 100%;
    margin-top: 10px;
    height: 30px;
    border-radius: 7px;
    background-color: #f8f8f9;
    border: 1px solid #f8f8f9;
}

#filters-panel div.block {
    margin-top: 15px;
}

#filters-panel div.form-check {
    margin-top: 15px;
}

#filters-panel h2 {
    width: 100%;
    margin-bottom: 15px;
}

#filters-panel h2 button {
    border: none;
    float: right;
}

#filters-panel h2 button i {
    color: #32d4a4;
}

#filters-panel tbody tr:hover {
    cursor: pointer;
}
